*{
    margin: 0;
    padding: 0;

}

body{
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(191, 191, 252);
}

#principal{
    font-size: 0.8em;
    width: 50%;
    min-width: 240px;
    max-width: 520px;
    margin: 9% auto;
    padding: 3%;
    text-transform: uppercase;
    background-color: rgba(184, 184, 228, 0.493);
    border-radius: 15px;
}

h1{
    text-align: center;
    text-shadow: 4px 3px 5px rgb(147, 147, 236);
    background-color: rgba(191, 223, 212, 0.849);
    padding: 2%;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 5px 3px 9px blue;
}

fieldset{
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 4px 3px 9px blue;
 
}

legend{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1em;
    text-shadow: 8px 4px 5px blue;
}

label{
    cursor: pointer;
    padding: 1%;
}


input{
    padding: 1%;
    border:none;
}

.submit input{
    background-image: linear-gradient(to right,rgb(5, 5, 87), blue, rgb(70, 70, 231));
    border-radius: 5px;
    color: white;
    padding: 2%;
    margin-top: 3%;
    box-shadow: 5px 2px 5px rgb(0, 0, 12);
    text-transform: uppercase;
    cursor: pointer;
}

.submit1:hover{
    background: rgb(23, 23, 87);
}
.nome{
    margin: 15px;
    font-size: 0.9em;
    font-weight: bold;
}

.email{
    margin: 15px;
    font-size: 0.9em;
    font-weight: bold;
}

.telefone{
    margin: 15px;
    font-size: 0.9em;
    font-weight: bold;
}

.senha{
    margin: 15px;
    font-size: 0.9em;
    font-weight: bold;
}
